@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* colors */
:root {
    /* Variables for storing colors */
    --bg-primary: #111;
    --bg-secondary: #111111fb;   
    --text-color: #fff;
    --heading-color: crimson;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-secondary);
    color: var(--text-color);
}


/* Hero Section */

header nav {
    height: 15vh;
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 45px;
    color: var(--heading-color);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 5rem;
}

header a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    border-radius: .2rem;
    padding: .5rem 1rem;
    transition: .2s ease-in;
    border-bottom: 2px solid var(--heading-color);
    overflow: hidden;
    position: relative;
}

header a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: .1rem;
    z-index: -1;
    transition: .2s ease-in;
    transform: translateX(-101%);
    background: var(--heading-color);
}

header a:hover::before {
    transform: translateX(0);
}

header ul li:nth-child(1) a {
    background: var(--heading-color);
    color: var(--text-color);
}

#btn {
    all: unset;
    cursor: pointer;
    transition: .5s ease-out;
    font-size: 30px;
    display: none;
}

#btn:hover {
    transform: rotate(180deg);
    color: var(--heading-color);
}

.s-container {
    min-height: 80vh;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.icons {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icons .line {
    height: 40px;
    width: 3.5px;
    border-radius: 5rem;
    background: var(--text-color);
}

.icons a {
    font-size: 20px;
    color: #eee;
    background: var(--heading-color);
    text-decoration: none;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .1s ease-in;
}

.icons a:hover {
    transform: scale(1.4);
}

.header h3 {
    font-size: 25px;
    color: var(--heading-color);
    font-weight: 200;
    text-align: center;
    margin-bottom: -1rem;
}

.header h1 {
    font-size: 50px;
    position: relative;
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 5px;
    border-radius: 1rem;
    background: var(--heading-color);

}

.image {
    width: 320px;
    height: 320px;
}

img {
    width: 200px;
}

.image img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.title {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 3.3rem;
    margin-bottom: 1rem;
}

/* https://www.youtube.com/watch?v=LLzWSIIjMdQ */
/* part 2: https://www.youtube.com/watch?v=CZ26zhDemE8 */